table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;

}

caption {
    font-weight: 700;
}

td, th, caption {
    border: 1px solid #000;
}

caption {
    border-bottom: none;
}

.color {
    color: red;
}

